body { text-align: center;}

.search-form{
    margin-top: 30px;
    margin-bottom: 30px;
}

.load-more{
margin-top: 10px;
}

button { color: #ffffff;
    font-size: 18px;
background-color: rgb(45, 104, 212);}


.gallery{
    display: flex;
   gap: 30px;
        flex-wrap: wrap;
        align-items: center;
       
        /* justify-content: center; */
  
}
.photo-card
{
    object-fit: cover;
    flex-basis: calc((100%-90)/4);
    }

a {display: inline-block;
    text-decoration: none;
}
p{margin: 0;}


.info{ color: #2f2f2f;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
img {display: block;
width: 100%;
}