body { text-align: center;}

.search-form{
    margin-top: 30px;
    margin-bottom: 30px;
}

.load-more{
margin-top: 10px;
}

button { color: #ffffff;
    font-size: 18px;
background-color: blue;}


.gallery{
    display: flex;
   
        flex-wrap: wrap;
        align-items: center;
        gap:20px;
        /* justify-content: center; */
  
}
.photo-card
{
    object-fit: cover;
    /* flex-basis: calc((100%-60px)/4); */
    width: calc((100%-60px)/4);
  
}

a {text-decoration: none;}


.info{ color: #2f2f2f;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}
img {display: block;
width: 100%;}